APP_NAME=Timekeeper
APP_ENV=local
APP_DEBUG=true
APP_URL=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=timekeeper
DB_USER=root
DB_PASS=local_admin

SESSION_NAME=timekeeper_session
SESSION_LIFETIME=28800
SESSION_IDLE=7200
